#-------------------------------------------------
# Prior to this, install all pre-requisites with brew (or OS-specific packaging tool)
#
# OSX:
#    brew install portaudio
#    brew install libsndfile
#    brew install libsamplerate
#
# Ubuntu:
#
#-------------------------------------------------

numpy
requests==2.3.0
pyaudio
scikits.samplerate

